In [1]:
from kplib.dumbo import Dumbo, FeatureOptions, EvaluationOptions, DataframeInput, FileInput
import pandas as pd
import numpy as np
from pysnowflake.simple import Session
import blocks

/usr/local/lib/python3.7/dist-packages/pysnowflake/__init__.py:21: FutureWarning:
    With pysnowflake version 1.0.0 there will be a breaking change.
    The legacy api will be dropped as it is no longer maintained, and simple will become the only api.
    This will make it easier to keep support for newer features like AWS support, etc. The expected change is
    the start of Q2 2022.

  FutureWarning,

### Combine Samples

In [2]:
url4s = "gs://sq-ds-capital-prod/mrm/Eligibility_2022/TokenSample_202204.pq"
df4_sample = blocks.assemble(url4s)

In [3]:
url5s = "gs://sq-ds-capital-prod/mrm/Eligibility_2022/TokenSample_202205.pq"
df5_sample = blocks.assemble(url5s)

In [4]:
url6s = "gs://sq-ds-capital-prod/mrm/Eligibility_2022/TokenSample_202206.pq"
df6_sample = blocks.assemble(url6s)

In [5]:
url7s = "gs://sq-ds-capital-prod/mrm/Eligibility_2022/TokenSample_202207.pq"
df7_sample = blocks.assemble(url7s)

In [6]:
url8s = "gs://sq-ds-capital-prod/mrm/Eligibility_2022/TokenSample_202208.pq"
df8_sample = blocks.assemble(url8s)

In [7]:
url9s = "gs://sq-ds-capital-prod/mrm/Eligibility_2022/TokenSample_202209.pq"
df9_sample = blocks.assemble(url9s)

In [8]:
token100000_456789 = df4_sample.append(df5_sample, ignore_index = True).append(df6_sample, ignore_index = True).append(df7_sample, 
            ignore_index = True).append(df8_sample, ignore_index = True).append(df9_sample, ignore_index = True)

In [9]:
token100000_456789

             unit_token                     decision_event_token        date
0         15YMZHEQ03TDK  DS-b524c4a9-b31a-456e-81ab-3b3c230ec3cc  2022-04-01
1         3F1YCTC04TMMC  DS-c9ebe8bc-69b2-4ae1-82f1-9a6bb4a69f26  2022-04-01
2         LQHVDABGXJFKZ  DS-86e4ee3c-a064-4448-8584-92d5ac7a1898  2022-04-01
3         BXRJXP76TKVER  DS-5aa14802-0895-4123-a034-e2c138fbe076  2022-04-01
4         WGSCBJ6BRB2P3  DS-3187e88b-1fab-4ec0-8e0e-4c5c48678318  2022-04-01
...                 ...                                      ...         ...
18299995  QNMH6MZNQFFFW        DS-CS_C-TMKFBRV8BEDHHK_2022-09-30  2022-09-30
18299996  1DSQ70B01P5XR        DS-CS_C-3KX2PQECM32KPW_2022-09-30  2022-09-30
18299997  E9B4VNX08AMND        DS-CS_C-1PGZ8VY7CFV3RJ_2022-09-30  2022-09-30
18299998  L48V2NHGNQJHW        DS-CS_C-55QC02DDQX6ZKE_2022-09-30  2022-09-30
18299999  ZPVZE6AZCFQWM        DS-CS_C-3G0VRR9GE8Z563_2022-09-30  2022-09-30

[18300000 rows x 3 columns]

In [10]:
url = "gs://sq-ds-capital-prod/mrm/Eligibility_2022/token100000_456789.pq"
blocks.place(token100000_456789, url)

### Load Sample

In [2]:
url_sample = "gs://sq-ds-capital-prod/mrm/Eligibility_2022/token100000_456789.pq"
token = blocks.assemble(url_sample)

In [3]:
token

             unit_token                     decision_event_token        date
0         15YMZHEQ03TDK  DS-b524c4a9-b31a-456e-81ab-3b3c230ec3cc  2022-04-01
1         3F1YCTC04TMMC  DS-c9ebe8bc-69b2-4ae1-82f1-9a6bb4a69f26  2022-04-01
2         LQHVDABGXJFKZ  DS-86e4ee3c-a064-4448-8584-92d5ac7a1898  2022-04-01
3         BXRJXP76TKVER  DS-5aa14802-0895-4123-a034-e2c138fbe076  2022-04-01
4         WGSCBJ6BRB2P3  DS-3187e88b-1fab-4ec0-8e0e-4c5c48678318  2022-04-01
...                 ...                                      ...         ...
18299995  QNMH6MZNQFFFW        DS-CS_C-TMKFBRV8BEDHHK_2022-09-30  2022-09-30
18299996  1DSQ70B01P5XR        DS-CS_C-3KX2PQECM32KPW_2022-09-30  2022-09-30
18299997  E9B4VNX08AMND        DS-CS_C-1PGZ8VY7CFV3RJ_2022-09-30  2022-09-30
18299998  L48V2NHGNQJHW        DS-CS_C-55QC02DDQX6ZKE_2022-09-30  2022-09-30
18299999  ZPVZE6AZCFQWM        DS-CS_C-3G0VRR9GE8Z563_2022-09-30  2022-09-30

[18300000 rows x 3 columns]

In [5]:
token.groupby(token.date).describe()

           unit_token                             decision_event_token  \
                count  unique            top freq                count
date
2022-04-01     100000   99767  LC15APHV03DX0    2               100000
2022-04-02     100000   99760  3V6E322B34TZ5    2               100000
2022-04-03     100000   99864  L8SBPPEP8FCZB    2               100000
2022-04-04     100000   99851  0QF18SRATCWRX    2               100000
2022-04-05     100000   99809  LKFX2FQ06WR6F    2               100000
...               ...     ...            ...  ...                  ...
2022-09-26     100000  100000  L7C0YDP2CQ165    1               100000
2022-09-27     100000  100000  L08GNTGNVQR7K    1               100000
2022-09-28     100000  100000  LF5STY0H399VQ    1               100000
2022-09-29     100000  100000  6P9WJY9B5QH31    1               100000
2022-09-30     100000  100000  Z4TJ6RXZ2AWEM    1               100000


            unique                                      top freq
date
2022-04-01  100000  DS-b524c4a9-b31a-456e-81ab-3b3c230ec3cc    1
2022-04-02  100000  DS-216ad5e4-e965-4149-a9a3-ffa030bee3c5    1
2022-04-03  100000  DS-2cd966e9-06e7-44d3-bfe9-869154d9f3f8    1
2022-04-04  100000  DS-050273ec-c9e1-45ad-87bb-474c32cbbc9a    1
2022-04-05  100000  DS-7efaaffd-11a4-4df7-b76a-e3e15d0676c4    1
...            ...                                      ...  ...
2022-09-26  100000        DS-CS_C-24RCS1ZBR43410_2022-09-26    1
2022-09-27  100000        DS-CS_C-HKGT6ZVAB81VPW_2022-09-27    1
2022-09-28  100000        DS-CS_C-1YZRHZFVTQMVFX_2022-09-28    1
2022-09-29  100000        DS-CS_C-2WX2Y3E9NC26AK_2022-09-29    1
2022-09-30  100000        DS-CS_C-346ZA669K8KSD1_2022-09-30    1

[183 rows x 8 columns]

### Pull Signals from Dumbo

#### not_active_in_last_day

In [20]:
feature_list = ["millis_since_last_capture_by_merchant_from_capital_decision_merchant"]
event_df = Dumbo().get_features(
    "CAPITAL_DECISION",
    # pass df and specify token
    DataframeInput(
        token, token_col="decision_event_token"
    ),
    # pass feature_list here
    # include_for_rules_only: some signals are only for rules
    feature_options=FeatureOptions(features=feature_list,
                                  include_for_rules_only=True),
    # need to pass acl so we have permissions to query
    evaluation_options=EvaluationOptions(acl_reasons=["capital_risk_assessment"],
                                         # remove examples without data (happens if Dumbo is too stale)
                                        remove_unknown_results=True
                                        )
)

WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle
WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle

'Waiting for job 224222 to launch'

'Job 224222 is running at https://console.cloud.google.com/dataflow/jobs/us-central1/2022-10-17_17_40_04-16567355215486745700?project=risk-144219'

'Job 224222 finished successfully'

'Checking output for errors ...'

'No errors found in output'

In [21]:
event_df.drop(columns=['timestamp'], inplace = True)

In [22]:
event_df

,unit_token,decision_event_token,date,millis_since_last_capture_by_merchant_from_capital_decision_merchant
0,FBYRHMQPW4WYJ,DS-1ee404b0-9d7f-4ca9-b2b4-d5edbebed31f,2022-05-08,293231399.0
1,JF4ZS71MZE1XE,DS-CS_C-2CW7DQ42DXTAD6_2022-07-17,2022-07-17,153786120.0
2,BAR5RNEPVZ6G7,DS-ecb17ad7-ae54-4dfa-a0e3-64fff30a1744,2022-06-16,151132022.0
3,7ZAZSSAR466EC,DS-ba3dac0d-1a88-45a1-86af-ff051dbf43b3,2022-06-08,-18689287.0
4,EGZA3GQJ1Z5QN,DS-CS_C-HTG4APDXPVAQWF_2022-07-19,2022-07-19,1495429.0
...,...,...,...,...
91505,FDG58FVTH8YXY,DS-CS_C-1GV5QSYW8SK1PF_2022-07-17,2022-07-17,101330767.0
91506,LNNTCEA03JDSH,DS-CS_C-3C4G2YSCC65DRB_2022-09-18,2022-09-18,40574157.0
91507,LEE9R1MPBDSXE,DS-CS_C-QYMPJNNF76MC9A_2022-09-26,2022-09-26,272173358.0
91508,GPMW2RS5VVV0W,DS-5cc4408d-c25b-4021-bc27-f1f28c282f35,2022-04-24,29330990.0
91509,7RMAF63YPKHZ7,DS-a465d31a-d0e6-4e0d-8a17-3a3045326694,2022-04-19,34783765.0

In [23]:
univariate = event_df[feature_list].groupby(event_df.date).describe().applymap(lambda x: f"{x:0.0f}")

In [24]:
univariate

           millis_since_last_capture_by_merchant_from_capital_decision_merchant  \
                                                                          count
date
2022-04-01                                              99995
2022-04-02                                              99995
2022-04-03                                              99993
2022-04-04                                              99998
2022-04-05                                              99997
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000

                                                                              \
                 mean        std         min       25%        50%        75%
date
2022-04-01   92239206  669894204  -271528910  10270546   46322747  120240862
2022-04-02   89416615  195996861  -462917517  13465266   50868081  120215463
2022-04-03  114286588  151203913  -212447146  33702117   84675119  161210823
2022-04-04  131880716  138070059  -129502385  27086854  117647868  196235144
2022-04-05  115618746  140240756  -221039114  14662382   63423837  192168446
...               ...        ...         ...       ...        ...        ...
2022-09-26  173651996  162115109  -381839235  56935460  163876188  255995822
2022-09-27  165613645  169758908  -258505069  16287288  116900114  260779361
2022-09-28  158107433  170485741  -129500450  14801738   91271378  258652192
2022-09-29  147385221  194803875  -509343033  10940328   84329886  237690043
2022-09-30  135620640  170739910  -417395446   8605472   78307990  187751853


                     max
date
2022-04-01  184720570821
2022-04-02   27606479083
2022-04-03   16790030100
2022-04-04    8702957086
2022-04-05    3599664108
...                  ...
2022-09-26    1551829523
2022-09-27    6351018435
2022-09-28    1532755678
2022-09-29   28859308080
2022-09-30    6389072865

[183 rows x 8 columns]

In [25]:
univariate.to_csv ('not_active_in_last_day.csv', index = True, header=True)

#### last_week_sales_below_threshold

In [26]:
feature_list = ["total_net_amount_in_full_28d_by_merchant_from_capital_decision_merchant", "total_success_amount_in_full_7d_by_merchant_from_capital_decision_merchant"]
event_df = Dumbo().get_features(
    "CAPITAL_DECISION",
    # pass df and specify token
    DataframeInput(
        token, token_col="decision_event_token"
    ),
    # pass feature_list here
    # include_for_rules_only: some signals are only for rules
    feature_options=FeatureOptions(features=feature_list,
                                  include_for_rules_only=True),
    # need to pass acl so we have permissions to query
    evaluation_options=EvaluationOptions(acl_reasons=["capital_risk_assessment"],
                                         # remove examples without data (happens if Dumbo is too stale)
                                        remove_unknown_results=True
                                        )
)
event_df.drop(columns=['timestamp'], inplace = True)

WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle
WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle

'Waiting for job 224228 to launch'

'Job 224228 is running at https://console.cloud.google.com/dataflow/jobs/us-central1/2022-10-17_17_53_03-8224281051461952598?project=risk-144219'

'Job 224228 finished successfully'

'Checking output for errors ...'

'No errors found in output'

In [27]:
event_df

,unit_token,decision_event_token,date,total_net_amount_in_full_28d_by_merchant_from_capital_decision_merchant,total_success_amount_in_full_7d_by_merchant_from_capital_decision_merchant
0,178BSSWDR4NCW,DS-917acab7-2521-4a95-87ca-3e16e8af1f60,2022-06-28,309748.0,25000.0
1,935E59PN50S75,DS-19c0deac-56ed-4363-912d-b760abb0effc,2022-05-09,975830.0,233060.0
2,LQ6AS780MDVR8,DS-CS_C-857WZRVFJ0PZFK_2022-08-17,2022-08-17,18000.0,18000.0
3,E4JY6TJ5FC0HM,DS-CS_C-8FT23W1FKX9BBB_2022-08-18,2022-08-18,141696.0,65872.0
4,6J1VV1R2KXT3J,DS-CS_C-22PP3G2V4HWESJ_2022-08-10,2022-08-10,557225.0,122080.0
...,...,...,...,...,...
91489,DJKQS7PEDX0JK,DS-CS_C-1MNYKYY6BB49SK_2022-08-16,2022-08-16,547414.0,167440.0
91490,L3Y1CM4PC1AJM,DS-CS_C-109CPDM1CQ4G3M_2022-08-21,2022-08-21,65024.0,9496.0
91491,4WE0B3P6YDD6A,DS-80e4c322-dc5e-48f9-9850-5a3ce66fe6b5,2022-06-28,123135.0,0.0
91492,AQDNT5A7TCW7C,DS-CS_C-1MRSV9FEWE12P5_2022-07-20,2022-07-20,684936.0,188676.0
91493,LRDFCDC17YPPR,DS-CS_C-E3TFZD9W1XWBPC_2022-06-23,2022-06-23,0.0,100.0

In [28]:
univariate = event_df[feature_list].groupby(event_df.date).describe().applymap(lambda x: f"{x:0.0f}")

In [29]:
univariate

           total_net_amount_in_full_28d_by_merchant_from_capital_decision_merchant  \
                                                                             count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000

                                                                          \
              mean      std       min    25%     50%     75%         max
date
2022-04-01  758365  2261761   -536122  81720  241200  648470   229830414
2022-04-02  748971  2232500  -1090117  72875  231000  631266   178373737
2022-04-03  776535  2222090   -692061  81732  244326  659506   131379818
2022-04-04  767711  2184176  -1861100  82928  246344  658350   126243633
2022-04-05  789168  2324178   -453600  85500  251782  668245   229308691
...            ...      ...       ...    ...     ...     ...         ...
2022-09-26  789884  2473507   -267538  84000  245711  659586   277980589
2022-09-27  823568  4613908   -773408  86500  251172  681777  1150008151
2022-09-28  806444  2638918  -1420000  87424  250000  674346   386009672
2022-09-29  826410  2440150   -219964  96990  266604  698531   157303911
2022-09-30  834697  3139131  -1139265  99000  270900  704292   564852929

           total_success_amount_in_full_7d_by_merchant_from_capital_decision_merchant  \
                                                                                count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000


              mean      std min    25%    50%     75%        max
date
2022-04-01  197009   607619   0  16689  58120  167272   53927754
2022-04-02  199497   616387   0  16104  57374  167500   41651608
2022-04-03  207431   602227   0  20000  62701  176500   37419117
2022-04-04  205380   620711   0  19200  61786  175036   69030579
2022-04-05  212237   945321   0  19800  63218  177977  229946166
...            ...      ...  ..    ...    ...     ...        ...
2022-09-26  211871   723163   0  20724  62100  174500   90158812
2022-09-27  223278  2075703   0  21500  63751  179500  591013276
2022-09-28  214970   805242   0  21800  64000  177306  127543332
2022-09-29  219166   673853   0  23138  66900  183000   50788636
2022-09-30  219418   819527   0  23200  66900  184200  137784447

[183 rows x 16 columns]

In [30]:
univariate.to_csv ('last_week_sales_below_threshold.csv', index = True, header=True)

#### processing_less_than_minimum_time

In [31]:
feature_list = ["millis_since_first_success_auth_by_merchant_from_capital_decision_merchant"]
event_df = Dumbo().get_features(
    "CAPITAL_DECISION",
    # pass df and specify token
    DataframeInput(
        token, token_col="decision_event_token"
    ),
    # pass feature_list here
    # include_for_rules_only: some signals are only for rules
    feature_options=FeatureOptions(features=feature_list,
                                  include_for_rules_only=True),
    # need to pass acl so we have permissions to query
    evaluation_options=EvaluationOptions(acl_reasons=["capital_risk_assessment"],
                                         # remove examples without data (happens if Dumbo is too stale)
                                        remove_unknown_results=True
                                        )
)
event_df.drop(columns=['timestamp'], inplace = True)

WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle
WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle

'Waiting for job 224234 to launch'

'Job 224234 is running at https://console.cloud.google.com/dataflow/jobs/us-central1/2022-10-17_18_07_10-14007757509672594536?project=risk-144219'

'Job 224234 finished successfully'

'Checking output for errors ...'

'No errors found in output'

In [32]:
event_df

,unit_token,decision_event_token,date,millis_since_first_success_auth_by_merchant_from_capital_decision_merchant
0,225ZDBEFZ79HR,DS-d5c65cf1-f463-418e-a9ac-fc9dcd71ae1d,2022-04-16,3.231553e+11
1,BVF9K9GVB90RD,DS-1f7cfd00-479b-4124-bde6-f5b533d30ac8,2022-06-21,1.147271e+11
2,LS9FGZ2GJEKZ2,DS-CS_C-SA1TWCVRVDXGAC_2022-08-28,2022-08-28,3.578081e+10
3,1S38QJY1JX55K,DS-46eca551-af54-42c2-b81f-d86c01596d37,2022-06-20,7.488931e+10
4,0XKGP4T3EYG1Z,DS-CS_C-1XHK1RT0PJ14FX_2022-09-02,2022-09-02,3.068744e+11
...,...,...,...,...
91478,LEPZNQ6FVVJJG,DS-CS_C-23GHTKCC2AKENZ_2022-08-11,2022-08-11,2.518891e+09
91479,LJQVNAGJQTCPY,DS-CS_C-1YD3ZF45F8JC4N_2022-07-30,2022-07-30,8.030630e+09
91480,53SHX66HMM78P,DS-CS_C-2X7DCQNSS58PE2_2022-07-27,2022-07-27,1.104116e+11
91481,E2XBZVY1AC24G,DS-1e53ede8-e7ab-4ebd-ac28-6e155c3903a5,2022-06-09,3.019638e+11
91482,WB6DC98EQ418S,DS-CS_C-ZPRNQKM90TAW1Z_2022-09-23,2022-09-23,1.392727e+11

In [33]:
univariate = event_df[feature_list].groupby(event_df.date).describe().applymap(lambda x: f"{x:0.0f}")

In [34]:
univariate

           millis_since_first_success_auth_by_merchant_from_capital_decision_merchant  \
                                                                                count
date
2022-04-01                                              99995
2022-04-02                                              99995
2022-04-03                                              99993
2022-04-04                                              99998
2022-04-05                                              99997
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000

                                                                             \
                    mean           std       min          25%           50%
date
2022-04-01  125684439861   96867574853      8508  41577756572  104187568129
2022-04-02  123652162385   96924521916      9431  39081703730  100589802145
2022-04-03  123427737625   96745653307      8504  39144986054  100647899790
2022-04-04  123694501067   96654070532      8304  39448856165  100756775273
2022-04-05  124721917740   96646688442      8021  40813498021  102522021194
...                  ...           ...       ...          ...           ...
2022-09-26  126414088823  100236293075  65572427  39910052771  102780648002
2022-09-27  125651465614   99635425237  67316296  40155936307  101927588498
2022-09-28  125585134259   99863982887  65523166  39897519177  102197773640
2022-09-29  127911048748   99859040269  67060664  41884560094  105240121948
2022-09-30  129415292026  100450636107  66004755  42595685730  106473939241


                     75%           max
date
2022-04-01  198099313912  390111591084
2022-04-02  194849971771  402645173079
2022-04-03  193793726807  402731574110
2022-04-04  194758228431  375927965106
2022-04-05  196260374719  383798081085
...                  ...           ...
2022-09-26  198562206678  395300576109
2022-09-27  196276479694  395382493624
2022-09-28  197155230226  399058814739
2022-09-29  199711617496  391802254281
2022-09-30  202693479238  388452571884

[183 rows x 8 columns]

In [35]:
univariate.to_csv ('processing_less_than_minimum_time.csv', index = True, header=True)

#### in_payment_count_slump

In [36]:
feature_list = ["total_net_count_in_full_365d_by_merchant_from_capital_decision_merchant", "scale_factor_time_since_first_success_card_auth_by_merchant_from_capital_decision_merchant", "total_net_count_in_full_28d_by_merchant_from_capital_decision_merchant"]
event_df = Dumbo().get_features(
    "CAPITAL_DECISION",
    # pass df and specify token
    DataframeInput(
        token, token_col="decision_event_token"
    ),
    # pass feature_list here
    # include_for_rules_only: some signals are only for rules
    feature_options=FeatureOptions(features=feature_list,
                                  include_for_rules_only=True),
    # need to pass acl so we have permissions to query
    evaluation_options=EvaluationOptions(acl_reasons=["capital_risk_assessment"],
                                         # remove examples without data (happens if Dumbo is too stale)
                                        remove_unknown_results=True
                                        )
)
event_df.drop(columns=['timestamp'], inplace = True)

WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle
WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle

'Waiting for job 224239 to launch'

'Job 224239 is running at https://console.cloud.google.com/dataflow/jobs/us-central1/2022-10-17_18_21_59-17130509256710476770?project=risk-144219'

'Job 224239 finished successfully'

'Checking output for errors ...'

'No errors found in output'

In [37]:
event_df

,unit_token,decision_event_token,date,total_net_count_in_full_365d_by_merchant_from_capital_decision_merchant,scale_factor_time_since_first_success_card_auth_by_merchant_from_capital_decision_merchant,total_net_count_in_full_28d_by_merchant_from_capital_decision_merchant
0,LPQNXYQZE8Z44,DS-CS_C-3T1C53R8P9DV97_2022-08-18,2022-08-18,163.0,1.000000,15.0
1,LM1HM5XHAKBBY,DS-CS_C-3N3MPB0CZY65CG_2022-07-11,2022-07-11,19.0,2.053674,4.0
2,PQ5Q29W7HCAVQ,DS-CS_C-2EA9SW25ZHFF27_2022-07-21,2022-07-21,513.0,1.000000,33.0
3,J7QKRSCBPJFS2,DS-CS_C-8NCD0QQHVQB8H7_2022-08-21,2022-08-21,433.0,1.000000,27.0
4,8E9MF5X9B2H3E,DS-CS_C-95WRN51K575TPV_2022-07-17,2022-07-17,245.0,1.000000,25.0
...,...,...,...,...,...,...
91491,1H0ZMTK4AAF0X,DS-CS_C-2YY39SBG5QEBAA_2022-07-17,2022-07-17,876.0,1.000000,56.0
91492,DFEACHYM9YW9W,DS-CS_C-H3RRKN6GV9WFF9_2022-09-14,2022-09-14,350.0,1.000000,12.0
91493,1GV6DHGS9TK10,DS-3513b66a-f550-4736-bfc2-92a201b8e08b,2022-05-26,1447.0,1.000000,127.0
91494,L5BT9YGW2HQGN,DS-CS_C-2XX1K957AET3QE_2022-08-19,2022-08-19,20.0,1.400844,7.0
91495,2D16H074938VE,DS-0ad5de6b-5ff0-4d28-9c25-53117f421914,2022-04-23,10.0,1.000000,1.0

In [38]:
univariate = event_df[feature_list].groupby(event_df.date).describe().applymap(lambda x: f"{x:0.0f}")

In [39]:
univariate

           total_net_count_in_full_365d_by_merchant_from_capital_decision_merchant  \
                                                                             count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000

                                                     \
            mean    std  min 25%  50%  75%      max
date
2022-04-01  1636   6532   -1  69  229  686   401186
2022-04-02  1615   6751  -26  68  225  678   616363
2022-04-03  1707   6708  -15  74  243  717   251149
2022-04-04  1662   6390  -24  76  243  712   345036
2022-04-05  1747   6872    0  76  247  726   246081
...          ...    ...  ...  ..  ...  ...      ...
2022-09-26  1862   8852  -10  83  268  815  1311574
2022-09-27  1897   8503   -3  85  275  834  1257347
2022-09-28  1884   7378    0  84  272  825   449371
2022-09-29  1918   7031  -64  87  279  848   304129
2022-09-30  1943  11652  -21  84  277  836  2499216

           scale_factor_time_since_first_success_card_auth_by_merchant_from_capital_decision_merchant  \
                                                                                                count
date
2022-04-01                                              99995
2022-04-02                                              99995
2022-04-03                                              99993
2022-04-04                                              99998
2022-04-05                                              99997
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000

                 ...          \
           mean  ... 75% max
date             ...
2022-04-01    1  ...   1   7
2022-04-02    1  ...   1   7
2022-04-03    1  ...   1   7
2022-04-04    1  ...   1   7
2022-04-05    1  ...   1   7
...         ...  ...  ..  ..
2022-09-26    1  ...   1   7
2022-09-27    1  ...   1   7
2022-09-28    1  ...   1   7
2022-09-29    1  ...   1   7
2022-09-30    1  ...   1   7

           total_net_count_in_full_28d_by_merchant_from_capital_decision_merchant  \
                                                                            count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000


           mean  std   min 25% 50% 75%     max
date
2022-04-01  154  604   -77   7  22  64   37658
2022-04-02  153  615   -88   7  22  63   53968
2022-04-03  162  626   -15   8  24  68   37839
2022-04-04  159  594   -52   8  24  68   29724
2022-04-05  165  628    -5   8  24  69   28408
...         ...  ...   ...  ..  ..  ..     ...
2022-09-26  182  814   -18   9  26  80  118505
2022-09-27  185  777   -34   9  27  82   84978
2022-09-28  185  727  -222   9  26  81   56081
2022-09-29  185  689   -36   9  26  82   62264
2022-09-30  184  751   -12   8  25  79  117756

[183 rows x 24 columns]

In [40]:
univariate.to_csv ('in_payment_count_slump.csv', index = True, header=True)

#### in_payment_amount_slump

In [41]:
feature_list = ["total_net_amount_in_full_365d_by_merchant_from_capital_decision_merchant", "scale_factor_time_since_first_success_card_auth_by_merchant_from_capital_decision_merchant", "total_net_amount_in_full_28d_by_merchant_from_capital_decision_merchant"]
event_df = Dumbo().get_features(
    "CAPITAL_DECISION",
    # pass df and specify token
    DataframeInput(
        token, token_col="decision_event_token"
    ),
    # pass feature_list here
    # include_for_rules_only: some signals are only for rules
    feature_options=FeatureOptions(features=feature_list,
                                  include_for_rules_only=True),
    # need to pass acl so we have permissions to query
    evaluation_options=EvaluationOptions(acl_reasons=["capital_risk_assessment"],
                                         # remove examples without data (happens if Dumbo is too stale)
                                        remove_unknown_results=True
                                        )
)
event_df.drop(columns=['timestamp'], inplace = True)

WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle
WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle

'Waiting for job 224240 to launch'

'Job 224240 is running at https://console.cloud.google.com/dataflow/jobs/us-central1/2022-10-17_18_34_55-6851825105430511488?project=risk-144219'

'Job 224240 finished successfully'

'Checking output for errors ...'

'No errors found in output'

In [42]:
event_df

,unit_token,decision_event_token,date,total_net_amount_in_full_365d_by_merchant_from_capital_decision_merchant,scale_factor_time_since_first_success_card_auth_by_merchant_from_capital_decision_merchant,total_net_amount_in_full_28d_by_merchant_from_capital_decision_merchant
0,EPVEAXCNT5DR0,DS-CS_C-2SDTBM8YBFZSWV_2022-09-15,2022-09-15,4402750.0,1.000000,509549.0
1,AWC2MCNP2DE3R,DS-2b85bdbb-f61a-472c-887f-b72919b82354,2022-04-10,3212946.0,1.000000,182250.0
2,4FDZVBHYQ7J2W,DS-CS_C-37YKRMR9K24R46_2022-06-22,2022-06-22,25700.0,1.000000,13700.0
3,LW8AQSX77BEPQ,DS-CS_C-2S4VXQ52EFFZ8S_2022-08-30,2022-08-30,187600.0,6.517857,187600.0
4,LT1WG644QVTEB,DS-CS_C-1QNAKPJQ45ZCSP_2022-07-05,2022-07-05,9674622.0,1.000000,990174.0
...,...,...,...,...,...,...
91495,LWC5GNCAHF3F3,DS-CS_C-VNTGMX7XPWMQ65_2022-07-24,2022-07-24,35683786.0,1.000000,2318147.0
91496,KBYY5ZSA7NSGJ,DS-fcf9895c-28e9-4869-bd4d-8c390d136547,2022-04-15,2533030.0,1.000000,223065.0
91497,XXZ8MN6GVQ7KS,DS-5713bf7f-6c03-4110-a3cc-6df8fc329651,2022-04-04,19795069.0,1.000000,1134912.0
91498,LE9HTN3ABSZYY,DS-CS_C-1RDQXYASVH89P0_2022-09-07,2022-09-07,10600.0,6.517857,10600.0
91499,DPNSSV1MWD127,DS-cccefbf4-e12c-4f02-b4f0-9cf12f221539,2022-04-15,4409750.0,1.000000,198000.0

In [43]:
univariate = event_df[feature_list].groupby(event_df.date).describe().applymap(lambda x: f"{x:0.0f}")

In [44]:
univariate

           total_net_amount_in_full_365d_by_merchant_from_capital_decision_merchant  \
                                                                              count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000

                                                                    \
               mean       std       min      25%      50%      75%
date
2022-04-01  7920331  23171073         0   820518  2485908  6677324
2022-04-02  7709752  22528500    -37500   714651  2334172  6472353
2022-04-03  8050933  24799081  -1579815   750421  2446072  6698606
2022-04-04  7923546  22522605         0   794558  2474218  6684235
2022-04-05  8189923  23432245   -169224   825978  2552356  6860177
...             ...       ...       ...      ...      ...      ...
2022-09-26  8373766  26337109  -1475360   775301  2508025  6889069
2022-09-27  8751681  61289797   -190282   796280  2568234  7133433
2022-09-28  8534384  25918637     -3500   796188  2547974  7044206
2022-09-29  8852677  27653727   -624800   942152  2754280  7358738
2022-09-30  9005128  37456427     -1995  1013606  2863128  7470027

                         \
                    max
date
2022-04-01   2228365443
2022-04-02   2044533033
2022-04-03   2634977094
2022-04-04   1356844260
2022-04-05   1981259381
...                 ...
2022-09-26   1912859864
2022-09-27  16932157099
2022-09-28   1735034890
2022-09-29   1642912516
2022-09-30   7604306758

           scale_factor_time_since_first_success_card_auth_by_merchant_from_capital_decision_merchant  \
                                                                                                count
date
2022-04-01                                              99995
2022-04-02                                              99995
2022-04-03                                              99993
2022-04-04                                              99998
2022-04-05                                              99997
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000

                 ...          \
           mean  ... 75% max
date             ...
2022-04-01    1  ...   1   7
2022-04-02    1  ...   1   7
2022-04-03    1  ...   1   7
2022-04-04    1  ...   1   7
2022-04-05    1  ...   1   7
...         ...  ...  ..  ..
2022-09-26    1  ...   1   7
2022-09-27    1  ...   1   7
2022-09-28    1  ...   1   7
2022-09-29    1  ...   1   7
2022-09-30    1  ...   1   7

           total_net_amount_in_full_28d_by_merchant_from_capital_decision_merchant  \
                                                                             count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000


              mean      std       min    25%     50%     75%         max
date
2022-04-01  758365  2261761   -536122  81720  241200  648470   229830414
2022-04-02  748971  2232500  -1090117  72875  231000  631266   178373737
2022-04-03  776535  2222090   -692061  81732  244326  659506   131379818
2022-04-04  767711  2184176  -1861100  82928  246344  658350   126243633
2022-04-05  789168  2324178   -453600  85500  251782  668245   229308691
...            ...      ...       ...    ...     ...     ...         ...
2022-09-26  789884  2473507   -267538  84000  245711  659586   277980589
2022-09-27  823568  4613908   -773408  86500  251172  681777  1150008151
2022-09-28  806444  2638918  -1420000  87424  250000  674346   386009672
2022-09-29  826410  2440150   -219964  96990  266604  698531   157303911
2022-09-30  834697  3139131  -1139265  99000  270900  704292   564852929

[183 rows x 24 columns]

In [45]:
univariate.to_csv ('in_payment_amount_slump.csv', index = True, header=True)

#### chargeback_count_too_large_last_four_weeks

In [46]:
feature_list = ["total_chargeback_v3_count_in_full_28d_by_merchant_from_capital_decision_merchant"]
event_df = Dumbo().get_features(
    "CAPITAL_DECISION",
    # pass df and specify token
    DataframeInput(
        token, token_col="decision_event_token"
    ),
    # pass feature_list here
    # include_for_rules_only: some signals are only for rules
    feature_options=FeatureOptions(features=feature_list,
                                  include_for_rules_only=True),
    # need to pass acl so we have permissions to query
    evaluation_options=EvaluationOptions(acl_reasons=["capital_risk_assessment"],
                                         # remove examples without data (happens if Dumbo is too stale)
                                        remove_unknown_results=True
                                        )
)
event_df.drop(columns=['timestamp'], inplace = True)

WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle
WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle

'Waiting for job 224241 to launch'

'Job 224241 is running at https://console.cloud.google.com/dataflow/jobs/us-central1/2022-10-17_18_48_48-3217631134850665092?project=risk-144219'

'Job 224241 finished successfully'

'Checking output for errors ...'

'No errors found in output'

In [47]:
event_df

,unit_token,decision_event_token,date,total_chargeback_v3_count_in_full_28d_by_merchant_from_capital_decision_merchant
0,LKRKE7PNH6EJ9,DS-CS_C-X4HWGMR8CQ9H6G_2022-07-19,2022-07-19,0.0
1,C6MVMPAQQQT69,DS-CS_C-ED929JZXJ9VXCH_2022-09-25,2022-09-25,0.0
2,3SZ0SPDKYAS24,DS-b9d26909-e215-4daa-859e-0fabc32b2cfc,2022-06-15,0.0
3,1P9BCWY81T7B6,DS-CS_C-FQAEZETEK1WN43_2022-08-29,2022-08-29,0.0
4,EJMP5RHAV40FP,DS-CS_C-SZ7MT6JNR8QN6A_2022-07-26,2022-07-26,0.0
...,...,...,...,...
91488,LZ0EZZQ1P2J5N,DS-2fed37d1-aab1-47dd-902a-dfc0e053cc14,2022-04-05,0.0
91489,LMCDFCNYERDG8,DS-CS_C-3AGNSV29AE1QE6_2022-07-13,2022-07-13,0.0
91490,50HTEV567RKP8,DS-28a55085-9a4e-4013-a701-d7f6f3e135e0,2022-05-02,0.0
91491,TBTZKK63WFVR3,DS-CS_C-NDJ939727MJQER_2022-07-24,2022-07-24,0.0
91492,AZHEPFWRV7KM6,DS-CS_C-2245KT25BDZ6GE_2022-06-29,2022-06-29,0.0

In [48]:
univariate = event_df[feature_list].groupby(event_df.date).describe().applymap(lambda x: f"{x:0.0f}")

In [49]:
univariate

           total_chargeback_v3_count_in_full_28d_by_merchant_from_capital_decision_merchant  \
                                                                                      count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000


           mean std min 25% 50% 75%  max
date
2022-04-01    0   0   0   0   0   0   75
2022-04-02    0   0   0   0   0   0   26
2022-04-03    0   1   0   0   0   0  133
2022-04-04    0   0   0   0   0   0   17
2022-04-05    0   0   0   0   0   0   67
...         ...  ..  ..  ..  ..  ..  ...
2022-09-26    0   1   0   0   0   0  202
2022-09-27    0   0   0   0   0   0   57
2022-09-28    0   0   0   0   0   0   22
2022-09-29    0   0   0   0   0   0   34
2022-09-30    0   2   0   0   0   0  608

[183 rows x 8 columns]

In [50]:
univariate.to_csv ('chargeback_count_too_large_last_four_weeks.csv', index = True, header=True)

#### in_active_days_slump

In [51]:
feature_list = ["total_active_day_count_in_full_28d_by_merchant_from_capital_decision_merchant", "total_active_day_count_in_full_365d_by_merchant_from_capital_decision_merchant", "scale_factor_time_since_first_success_card_auth_by_merchant_from_capital_decision_merchant"]
event_df = Dumbo().get_features(
    "CAPITAL_DECISION",
    # pass df and specify token
    DataframeInput(
        token, token_col="decision_event_token"
    ),
    # pass feature_list here
    # include_for_rules_only: some signals are only for rules
    feature_options=FeatureOptions(features=feature_list,
                                  include_for_rules_only=True),
    # need to pass acl so we have permissions to query
    evaluation_options=EvaluationOptions(acl_reasons=["capital_risk_assessment"],
                                         # remove examples without data (happens if Dumbo is too stale)
                                        remove_unknown_results=True
                                        )
)
event_df.drop(columns=['timestamp'], inplace = True)

WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle
WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle

'Waiting for job 224243 to launch'

'Job 224243 is running at https://console.cloud.google.com/dataflow/jobs/us-central1/2022-10-17_19_07_13-769952166755766431?project=risk-144219'

'Job 224243 finished successfully'

'Checking output for errors ...'

'No errors found in output'

In [52]:
event_df

,unit_token,decision_event_token,date,total_active_day_count_in_full_28d_by_merchant_from_capital_decision_merchant,total_active_day_count_in_full_365d_by_merchant_from_capital_decision_merchant,scale_factor_time_since_first_success_card_auth_by_merchant_from_capital_decision_merchant
0,04FMQ2J6XCDFS,DS-682b899d-8eaa-4fef-b2f2-c8dc6fb691f4,2022-04-20,21.0,263.0,1.000000
1,L72T81FV9YPDT,DS-34c26688-faaa-44b4-adc2-4eff094b8505,2022-04-02,16.0,17.0,6.517857
2,7RWXD3CRHRX5K,DS-1dceefa0-cdd1-43e6-9b7b-c99538b8a768,2022-05-01,4.0,44.0,1.000000
3,6MENBRB3Y1J0E,DS-0759cd55-0d0a-436d-9393-c32e2ebada98,2022-06-15,24.0,289.0,1.000000
4,08YB6J9W3Y4FH,DS-6b39382f-c948-4cee-a103-93f792203615,2022-06-19,4.0,26.0,1.000000
...,...,...,...,...,...,...
91483,2K7K51CE5BB1H,DS-022702c8-f511-4604-a5da-8c0b0eefa136,2022-05-25,11.0,95.0,1.000000
91484,LWZE8X3AWPH5M,DS-CS_C-3MTH6QPF3RPH4A_2022-07-24,2022-07-24,16.0,291.0,1.034181
91485,7F3BEJN4QKBYY,DS-CS_C-H7QETJSKJ69PP9_2022-09-15,2022-09-15,8.0,119.0,1.000000
91486,4WKB3703YJRNS,DS-CS_C-1CFG1YB8SZH8B8_2022-08-04,2022-08-04,4.0,35.0,1.000000
91487,408RTC61KM3WH,DS-488346e7-4575-40e3-ade6-30c7e1a4ed17,2022-05-28,17.0,137.0,1.000000

In [53]:
univariate = event_df[feature_list].groupby(event_df.date).describe().applymap(lambda x: f"{x:0.0f}")

In [54]:
univariate

           total_active_day_count_in_full_28d_by_merchant_from_capital_decision_merchant  \
                                                                                   count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000

                                         \
           mean std min 25% 50% 75% max
date
2022-04-01   12   8   0   5  11  18  28
2022-04-02   12   8   0   4  10  18  28
2022-04-03   12   8   0   5  11  18  28
2022-04-04   12   8   0   5  11  18  28
2022-04-05   12   8   0   5  11  18  28
...         ...  ..  ..  ..  ..  ..  ..
2022-09-26   12   8   1   5  10  18  28
2022-09-27   12   8   0   5  11  18  28
2022-09-28   12   8   1   5  11  18  28
2022-09-29   12   8   0   5  11  18  28
2022-09-30   12   8   0   5  11  18  28

           total_active_day_count_in_full_365d_by_merchant_from_capital_decision_merchant  \
                                                                                    count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000

                 ...            \
           mean  ...  75%  max
date             ...
2022-04-01  128  ...  197  365
2022-04-02  125  ...  194  365
2022-04-03  128  ...  198  365
2022-04-04  128  ...  198  365
2022-04-05  130  ...  200  365
...         ...  ...  ...  ...
2022-09-26  128  ...  200  365
2022-09-27  129  ...  201  365
2022-09-28  129  ...  201  365
2022-09-29  133  ...  205  365
2022-09-30  135  ...  206  365

           scale_factor_time_since_first_success_card_auth_by_merchant_from_capital_decision_merchant  \
                                                                                                count
date
2022-04-01                                              99995
2022-04-02                                              99995
2022-04-03                                              99993
2022-04-04                                              99998
2022-04-05                                              99997
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000


           mean std min 25% 50% 75% max
date
2022-04-01    1   1   1   1   1   1   7
2022-04-02    1   1   1   1   1   1   7
2022-04-03    1   1   1   1   1   1   7
2022-04-04    1   1   1   1   1   1   7
2022-04-05    1   1   1   1   1   1   7
...         ...  ..  ..  ..  ..  ..  ..
2022-09-26    1   1   1   1   1   1   7
2022-09-27    1   1   1   1   1   1   7
2022-09-28    1   1   1   1   1   1   7
2022-09-29    1   1   1   1   1   1   7
2022-09-30    1   1   1   1   1   1   7

[183 rows x 24 columns]

In [55]:
univariate.to_csv ('in_active_days_slump.csv', index = True, header=True)

#### is_blocklisted

In [56]:
feature_list = ["capital_millis_until_unblacklist_by_capital_customer_from_capital_decision_customer"]
event_df = Dumbo().get_features(
    "CAPITAL_DECISION",
    # pass df and specify token
    DataframeInput(
        token, token_col="decision_event_token"
    ),
    # pass feature_list here
    # include_for_rules_only: some signals are only for rules
    feature_options=FeatureOptions(features=feature_list,
                                  include_for_rules_only=True),
    # need to pass acl so we have permissions to query
    evaluation_options=EvaluationOptions(acl_reasons=["capital_risk_assessment"],
                                         # remove examples without data (happens if Dumbo is too stale)
                                        remove_unknown_results=True
                                        )
)
event_df.drop(columns=['timestamp'], inplace = True)

WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle
WARNING:/usr/local/lib/python3.7/dist-packages/kplib/bucket_client.py:Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle

'Waiting for job 224245 to launch'

'Job 224245 is running at https://console.cloud.google.com/dataflow/jobs/us-central1/2022-10-17_19_23_30-16809956995736465951?project=risk-144219'

'Job 224245 finished successfully'

'Checking output for errors ...'

'No errors found in output'

In [57]:
event_df

,unit_token,decision_event_token,date,capital_millis_until_unblacklist_by_capital_customer_from_capital_decision_customer
0,6DNAVBVFVM7CP,DS-CS_C-1ARXTYYP57EA7P_2022-07-28,2022-07-28,NaN
1,A4CAYKTGHVA97,DS-8472bfd3-a06a-465d-817e-99825c770602,2022-05-09,NaN
2,FENXNJYCH5CD7,DS-CS_C-2S6V7GJHWQYN5K_2022-09-20,2022-09-20,NaN
3,4VQ514CS4CH1D,DS-76e00431-f55e-411c-a5f9-7f0f6991dfcf,2022-04-05,NaN
4,LNKYBS5M0C0JY,DS-f0626d24-82f7-4e81-8acd-9354b97111dd,2022-05-31,NaN
...,...,...,...,...
91498,LK6NP6M6V53HF,DS-CS_C-88BK9Z9N5DYAMW_2022-08-02,2022-08-02,NaN
91499,43AKF39YJWJEV,DS-099115b2-dfd5-4627-86e3-87915418ea76,2022-05-31,NaN
91500,L6020PH90R2GR,DS-CS_C-E46FHK67KDAG8Q_2022-08-07,2022-08-07,NaN
91501,LF434GHB5VZJ2,DS-CS_C-32NTC80NADM01S_2022-07-17,2022-07-17,NaN
91502,4M4TWYCGD640N,DS-2b0959bd-bcdc-4352-80f4-ef9b8eec6779,2022-04-06,NaN

In [58]:
univariate = event_df[feature_list].groupby(event_df.date).describe().applymap(lambda x: f"{x:0.0f}")

In [59]:
univariate

           capital_millis_until_unblacklist_by_capital_customer_from_capital_decision_customer  \
                                                                                         count
date
2022-04-01                                                599
2022-04-02                                                561
2022-04-03                                                520
2022-04-04                                                563
2022-04-05                                                560
...                                                       ...
2022-09-26                                                752
2022-09-27                                                821
2022-09-28                                                736
2022-09-29                                                819
2022-09-30                                                808

                                                                        \
                     mean             std            min           25%
date
2022-04-01  1493892265028   6201943018529   -96221308103  -68403210622
2022-04-02  2063093257792   7312462239529   -99199557101  -68454985080
2022-04-03  2235517965971   7568295922244   -90285684082  -68594813602
2022-04-04  1843074827953   6856399623952   -96992332103  -68638190601
2022-04-05  1482401777005   6140631091284   -99458760095  -68753700370
...                   ...             ...            ...           ...
2022-09-26  3214344263710   9320744494555  -118713973220  -52614254637
2022-09-27  3856534840207  10160931656278  -118801511056  -52698523107
2022-09-28  2816503269718   8816483043597  -102131150105  -52787920565
2022-09-29  2710563720009   8699888881591  -105835487404  -54240459740
2022-09-30  2569131826713   8387570901655  -102640461801  -52959896301


                     50%          75%             max
date
2022-04-01  -37195843231  -1307508220  31556144229522
2022-04-02  -37162685084   -759571109  31555280450885
2022-04-03  -37193112082    513161392  31556408849893
2022-04-04  -37270002107    352212894  31555315950913
2022-04-05  -37553084606   -674389918  31555449625919
...                  ...          ...             ...
2022-09-26  -12961289610   -686360052  31556546482894
2022-09-27  -11657075107    969348887  31555723218893
2022-09-28  -14170139635  -1014819143  31556448083875
2022-09-29  -13933041108  -1619776938  31555541058885
2022-09-30  -13894255741  -2430027390  31555501607929

[183 rows x 8 columns]

In [60]:
univariate.to_csv ('is_blocklisted.csv', index = True, header=True)

#### has_payment_limit

In [4]:
feature_list = ["active_payment_limit_count_by_merchant_from_capital_decision_merchant"]
event_df = Dumbo().get_features(
    "CAPITAL_DECISION",
    # pass df and specify token
    DataframeInput(
        token, token_col="decision_event_token"
    ),
    # pass feature_list here
    # include_for_rules_only: some signals are only for rules
    feature_options=FeatureOptions(features=feature_list,
                                  include_for_rules_only=True),
    # need to pass acl so we have permissions to query
    evaluation_options=EvaluationOptions(acl_reasons=["capital_risk_assessment"],
                                         # remove examples without data (happens if Dumbo is too stale)
                                        remove_unknown_results=True
                                        )
)
event_df.drop(columns=['timestamp'], inplace = True)

Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle
Project sq-ds-capital-prod tmp bucket does NOT have a lifecycle rule to delete objects. This means that the bucket could grow infinitely in size and cost. You should add a Delete lifecycle rule to the bucket: kp-tmp-sq-ds-capital-prod by following instructions at: https://cloud.google.com/storage/docs/lifecycle

'Waiting for job 224903 to launch'

'Job 224903 is running at https://console.cloud.google.com/dataflow/jobs/us-central1/2022-10-19_14_06_20-13601737851458184145?project=risk-144219'

'Job 224903 finished successfully'

'Checking output for errors ...'

'No errors found in output'

In [5]:
event_df

,unit_token,decision_event_token,date,active_payment_limit_count_by_merchant_from_capital_decision_merchant
0,L05YCV36CJR7X,DS-CS_C-3SVH2RE50FB7R6_2022-09-26,2022-09-26,0.0
1,1K3MSRSKSSZAT,DS-b7adb864-1e93-4a27-983a-8a3549a03288,2022-06-18,0.0
2,AX5FRVYZ73DVT,DS-CS_C-3NGFHDCWJ43SWP_2022-09-15,2022-09-15,0.0
3,AQJ08DEX2HW8E,DS-CS_C-1TZ7H6EVVR3Q8G_2022-07-15,2022-07-15,0.0
4,LQMWNGXE181JP,DS-CS_C-2VXRB9DYQP52NF_2022-06-27,2022-06-27,0.0
...,...,...,...,...
91489,LZPGZQTWHDC0A,DS-CS_C-FN39NGKTDG8REK_2022-09-19,2022-09-19,0.0
91490,7TCR2BYT8VSB8,DS-e0f75b7f-5827-4127-9115-d608f4bcef43,2022-04-23,0.0
91491,M7M0XP6A776AM,DS-8ab13c8c-8a9e-4bff-af12-b28d56f04616,2022-04-27,0.0
91492,LKX81M7TFH2W3,DS-dad6bc70-ff42-4265-b0ed-20367d821742,2022-06-21,0.0
91493,BHB5QVTP82PTN,DS-CS_C-YR9GT97ZTYB56W_2022-06-06,2022-06-06,0.0

In [6]:
univariate = event_df[feature_list].groupby(event_df.date).describe().applymap(lambda x: f"{x:0.0f}")

In [7]:
univariate

           active_payment_limit_count_by_merchant_from_capital_decision_merchant  \
                                                                           count
date
2022-04-01                                             100000
2022-04-02                                             100000
2022-04-03                                             100000
2022-04-04                                             100000
2022-04-05                                             100000
...                                                       ...
2022-09-26                                             100000
2022-09-27                                             100000
2022-09-28                                             100000
2022-09-29                                             100000
2022-09-30                                             100000


           mean std min 25% 50% 75% max
date
2022-04-01    0   0   0   0   0   0   4
2022-04-02    0   0   0   0   0   0   3
2022-04-03    0   0   0   0   0   0   3
2022-04-04    0   0   0   0   0   0   2
2022-04-05    0   0   0   0   0   0   3
...         ...  ..  ..  ..  ..  ..  ..
2022-09-26    0   0   0   0   0   0   6
2022-09-27    0   0   0   0   0   0   3
2022-09-28    0   0   0   0   0   0   3
2022-09-29    0   0   0   0   0   0   2
2022-09-30    0   0   0   0   0   0   2

[183 rows x 8 columns]

In [8]:
univariate.to_csv ('has_payment_limit.csv', index = True, header=True)